.title {
  //min-height: 308px;
  min-width: 320px;
  border-top: 1px solid #d9fff5;
}

.title__header {
  font-size: 16px;
  text-transform: uppercase;
  color: #7e7e82;
  padding: 16px;
  background-color: rgb(252, 251, 250);
}
