.header-brands {
  min-width: 320px;
  min-height: 56px;
  border-top: 2px solid #d9fff5;
  margin: 0 auto;
  background: #f8f8f8;
  padding-bottom: 16px;
}

.header-brands__title {
  height: 56px;
  font-size: 16px;
  color: #7e7e82;
  text-transform: uppercase;
  padding: 16px 16px 0 16px;
  overflow: hidden;
}
