.m-header {
  min-width: 320px;
  min-height: 88px;
  margin: 0 auto;
  border-bottom: 0.5px solid #d9fff5;
}

.m-header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
}

.m-header__list-item {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
}

.m-header__list-item--logo::after {
  content: '';
  width: 2px;
  height: 32px;
  background: #eaeaea;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  margin-left: 10px;
  transform: translateY(-10px);
}

.m-header__btn {
  @include btnBg;
}

.m-header__list-item:first-child::after {
  content: '';
  width: 18px;
  height: 16px;
  background: URL('../img/burger.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  transform: translate(11px, -33px);
}

.m-header__list-item:nth-child(3)::after {
  content: '';
  width: 20px;
  height: 20px;
  background: URL('../img/tools.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  transform: translate(10px, -35px);
}

.m-header__list-item:last-child::after {
  content: '';
  width: 20px;
  height: 20px;
  background: URL('../img/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  transform: translate(10px, -35px);
}

.m-header__list-item:hover {
  transform: scale(0.95);
  transition: 0.3s;
  /*  box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.15); */
}

.m-header__list-item:active,
.m-header__btn:focus {
  transform: scale(1.25);
  transition: 0.3s;
}
