.main {
  min-height: 448px;

  &__title {
    color: #1b1c21;
    font-size: 28px;
    font-weight: 900;
    padding: 24px 16px 24px 0;

    &::before {
      content: '';
      width: 4px;
      height: 40px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: $lineColor;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: inline-block;
      transform: translateY(10px);
      margin-right: 12px;
    }
  }

  &__navigation {
    max-height: 40px;
    padding: 0 16px 24px 16px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;

    &-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    &-item {
      padding-right: 5px;
      padding-left: 5px;

      &:hover {
        border: 1px solid #b8ffec;
        border-radius: 5px;
      }
    }

    &-link {
      display: block;
      text-decoration: none;
      color: #7e7e82;
      padding: 5px;
      font-size: 16px;
      white-space: nowrap;
    }
  }

  &__text,
  &__text--hidden {
    font-size: 13px;
    font-weight: 400;
    color: #1b1c21;
    padding-left: 16px;
    padding-bottom: 16px;
    word-spacing: normal;
  }

  &__btn-more {
    font-size: 16px;
    font-weight: 500;
    padding-left: 8px;
    padding-bottom: 16px;

    &::before {
      content: '';
      width: 8px;
      height: 10px;
      background: URL('../img/arrows.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: inline-block;
      margin-right: 15px;
      transition: 0.3s;
    }
  }

  .arrows__up {
    &::before {
      content: '';
      width: 8px;
      height: 10px;
      transform: rotate(180deg);
      background: URL('../img/arrows.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: inline-block;
      margin-right: 15px;
      transition: 0.3s;
    }
  }

  &__cps-pic {
    display: block;
  }

}
