.main__title {
  color: #1b1c21;
  font-size: 28px;
  font-weight: 900;
  padding: 24px 16px 24px 0;
}

.main__title::before {
  content: '';
  width: 4px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: $lineColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  transform: translateY(10px);
  margin-right: 12px;
}
