.aside {
  opacity: 0;
  min-width: 320px;
  position: fixed;
  background: #eee;
  z-index: 1;
  display: none;

  &__header {
    min-width: 320px;
    padding: 18px 0 46px 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-btn {
    @include btn;
    margin-right: 16px;
  }

  &__header-link {
    padding-right: 78px;
  }

  &__nav {
    padding: 0 0 50px 24px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    position: relative;
  }

  &__nav-link {
    color: #1b1c21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    @include linker;

    &:hover {
      color: #7e7e82;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      @include linker;
    }
  }

  &__nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover:before {
      content: '';
      position: absolute;
      left: -24px;
      display: inline-block;
      vertical-align: center;
      @include divider;
    }
  }

  &__feedback {
    padding: 0 0 24px 24px;
  }

  &__feedback-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 16px;
  }

  &__feedback-btn {
    @include btn;
  }

  &__feedback-item {
    padding-right: 16px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__contacts {
    padding-left: 24px;
    padding-bottom: 40px;
  }

  &__contacts-email {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1b1c21;
    padding-bottom: 12px;
  }

  &__contacts-phone {
    color: #1b1c21;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }

  &__lang {
    padding: 0 0 32px 24px;
  }

  &__lang-list {
    @include fsc;
  }

  &__lang-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1b1c21;
    padding-right: 8px;

    &--active {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      padding-right: 8px;
      color: #7e7e82;
    }
  }
}
