@import './_fonts';
@import './reset.css';
/* @import './_normalize.css'; */
@import './_variables';
@import './_mixins';
@import './_m-header';
@import './_main_title';
@import './navigation.scss';
@import './main.scss';
@import './brands.scss';
@import './types-of.scss';
@import './common.scss';
body {
  box-sizing: border-box;
  font-family: 'TT Lakes', serif, sans-serif;
}

.hidden {
  display: none;
}

.cps__main {
  padding-bottom: 24px;
}
